.app {
    display: flex;
}


nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    margin-right: 1rem;

    border-radius: 1rem;
    backdrop-filter: blur(5px);
    height: 100vh;
}


nav a:hover {
    /* background: rgba(0, 0, 0, 0.3); */
    background: rgba(215, 57, 57, 0.3);
}

.active {
    background: var(--color-primary);
    color: var(--color-bg);
}